<div>
    <h2>{{title}}</h2>

    <div class="m-4">
        <div class="input-group">
            <input type="text" ng-model="appealmsg[0]" name="appealmsg" id="appealmsg" 
            placeholder="Write appeal, mention date appealing for."
                class="form-control mg-green-sh">               
            <button class="btn mg-green mg-green-sh p-2 text-white font-weight-bolder input-group-append"
                ng-click="appeal()">
                <span class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></span>
            </button>
            
        </div>
    </div>

    <nav class="nav nav-pills nav-justified" role="tablist">
        <a class="nav-item nav-link active" href="#!appeals">New Appeals</a>
        <a class="nav-item nav-link" href="#!appeals/ongoing">Ongoing Appeals</a>
        <a class="nav-item nav-link" href="#!appeals/closed">Closed Appeals</a>
    </nav>

    <div class="tab-content">

        <div class="tab-pane fade show active" id="appeals" role="tabpanel">
            <div ng-repeat="appeal in appeals" ng-if="appeal.status==='new'"
                class="shadow bg-dark p-3 my-3 text-white rounded">
                <div class="card-title">UserID {{appeal.user}}</div>
                <div class="card-text">{{appeal.message}}</div>
                <div class="card-footer">

                    <div class="clearfix">
                        <span class="badge mg-green p-2 m-1 csr-ptr">reply</span>
                        <span class="float-right my-1 mx-2">{{appeal.appealdate}}</span>
                    </div>

                    <div class="p-3">
                        <div class="input-group">

                            <input type="text" ng-model="replies[$index]" name="reply{{$index}}" id="reply{{$index}}"
                                class="form-control mg-green-sh">
                            <button
                                class="btn mg-green mg-green-sh p-2 text-white font-weight-bolder input-group-append"
                                ng-click="reply($index)">
                                <span class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



</div>