<div>
       <h1>{{title}}</h1>

       <div class="input-form shadow-sm p-4 rounded">
              <input type="text" ng-model="name" class="form-control mb-1" placeholder="name....">
              <input type="text" ng-model="email" class="form-control mb-1" placeholder="email...">
              <input type="password" ng-model="password" class="form-control mb-1" placeholder="password...">
              <input type="password" ng-model="password_retype" class="form-control mb-1" placeholder="password...">
              <div class="input-group mb-1">
                     <button class="btn mg-green input-group-prepend text-white font-weight-bolder">Select
                            Cohort</button>
                     <select name="cohort" id="cohort" class="form-control border-0" ng-model="cohort"
                            ng-options="cohort.name+' : '+cohort.module for cohort in cohorts"></select>
              </div>
              <div class="input-group mb-1">
                     <button class="btn mg-green input-group-prepend text-white font-weight-bolder">Select Role</button>
                     <select name="role" id="role" class="form-control border-0" ng-model="role"
                            ng-options="role.name for role in roles"></select>
              </div>
              <button ng-click="register()" class="btn btn-block mg-green p-3 text-white font-weight-bolder mb-1">Register</button>
       </div>
</div>